In [1]:
import pymongo

In [3]:
# Connect Wtih Database
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")

In [8]:
db = dbConn["iNeuron"]

In [9]:
#To check the how many database we have use command
dbConn.list_database_names()

['admin', 'config', 'local', 'test']

In [16]:
collection_name = 'mongo_demo'

In [112]:
collection_name_1 = 'Big-BootCamp'

In [17]:
collection= db[collection_name]

In [23]:
#Method 1:
#to check the number of collection in our database 
collection.list_collection_names

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'iNeuron'), 'mongo_demo.list_collection_names')

In [24]:
#Method 2:
#to check the number of collection in our database 

collection = db[collection_name]

In [115]:
collection1 = db[collection_name_1]

In [114]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'iNeuron'), 'Big-BootCamp')

In [116]:
collection1

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'iNeuron'), 'Big-BootCamp')

In [118]:
collection1.insert_one({'name': 'Abhishek',
                     'course_name':'big data bootcamp',
                    'designstion': 'data engineer',
                    'salary':'80k'})

In [ ]:
collection1.drop()

In [33]:
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [34]:
collection.insert_one(my_row)

In [35]:
result = collection.find()

In [36]:
for i in result:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [37]:
#Multiple data 

my_rows=[
    {'Serial No': '10002',
 'GRE Score': '311',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '5.5',
 'LOR': '5.5',
 'CGPA': '9.95',
 'Research': '3',
 'Chance of Admit': '0.95'},

 {'Serial No': '1000',
 'GRE Score': '310',
 'TOEFL Score': '100',
 'University Rating': '2',
 'SOP': '4.2',
 'LOR': '3.5',
 'CGPA': '9.00',
 'Research': '0',
 'Chance of Admit': '0.70'}]

In [ ]:
collection.insert_many(my_rows)

In [45]:
result = collection.find({})

In [46]:
for i in result:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}

In [48]:
result = collection.find({})

In [53]:
result[2]

{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'),
 'Serial No': '10002',
 'GRE Score': '311',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '5.5',
 'LOR': '5.5',
 'CGPA': '9.95',
 'Research': '3',
 'Chance of Admit': '0.95'}

In [58]:
result_all = collection.find().limit(3)

In [59]:
for i in result_all:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}

In [62]:
# without curly braces you won't be able to get single record(record[1] it won't work here)
#you will have to add curly baces.
result=collection.find({})

In [63]:
result[2]

{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'),
 'Serial No': '10002',
 'GRE Score': '311',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '5.5',
 'LOR': '5.5',
 'CGPA': '9.95',
 'Research': '3',
 'Chance of Admit': '0.95'}

In [64]:
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]

In [65]:
collection.insert_many(my_rows)

In [66]:
result = collection.find({})

In [67]:
for i in result:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [68]:
result = collection.find({},{'GRE_Score' ,'TOEFL Score'})

In [69]:
for i in result:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'TOEFL Score': '118'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'TOEFL Score': '118'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'TOEFL Score': '118'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'TOEFL Score': '100'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'TOEFL Score': '118'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'TOEFL Score': '118'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'TOEFL Score': '118'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'TOEFL Score': '119'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'TOEFL Score': '118'}

In [74]:
my_query = {"GRE Score":"337"}

In [75]:
result_GRE = collection.find(my_query)

In [76]:
for i in result_GRE:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [83]:
#USing filtering in MONGO DB
#GT means greater than 

my_query = {"GRE Score":{"$gt":"334"}}

In [84]:
result_gt= collection.find(my_query)

In [85]:
for i in result_gt:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [86]:

my_query = {"GRE Score":{"$lt":"337"}}

In [87]:
result_lt= collection.find(my_query)

In [88]:
for i in result_lt:
    print(i)

{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [89]:
result_total = collection.find()

In [90]:
for i in result_total:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [91]:
result_sort = collection.find().sort("GRE Score")

In [92]:
for i in result_sort:
    print(i)

{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [93]:
result_sort_desc = collection.find().sort("GRE Score",-1)

In [94]:
for i in result_sort_desc:
    print(i)

{'_id': ObjectId('63904701661f2a6a4d5ac3ba'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}

In [95]:
#How to delete the record in mongo db

my_query_3 = {"GRE Score":{"$lt":"340"}}

In [96]:
x = collection.delete_one(my_query_3)

In [97]:
x.deleted_count

1

In [102]:
# how to update the record in mongo db

my_record ={"GRE Score":"337"}
new_record={"$set":{"GRE Score":"350"}}

In [103]:
y = collection.update_many(my_record,new_record)

In [104]:
y.modified_count

4

In [110]:
result_total= collection.find().sort("GRE Score",-1)

In [111]:
for i in result_total:
    print(i)

{'_id': ObjectId('6390474a661f2a6a4d5ac3bb'), 'Serial No': '9998', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3be'), 'Serial No': '9997', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c0'), 'Serial No': '9995', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c2'), 'Serial No': '9993', 'GRE Score': '350', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3bf'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('6390562a661f2a6a4d5ac3c1'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bc'), 'Serial No': '10002', 'GRE Score': '311', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '5.5', 'LOR': '5.5', 'CGPA': '9.95', 'Research': '3', 'Chance of Admit': '0.95'}
{'_id': ObjectId('63904a86661f2a6a4d5ac3bd'), 'Serial No': '1000', 'GRE Score': '310', 'TOEFL Score': '100', 'University Rating': '2', 'SOP': '4.2', 'LOR': '3.5', 'CGPA': '9.00', 'Research': '0', 'Chance of Admit': '0.70'}